/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body,html{
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 0.95em;
    text-align: center;
}
#chart{
    background-color: #F5F2EB;
    border: 1px solid #CCC;
}
.bar{
    fill: purple;
    shape-rendering: crispEdges;
}
.bar-label{
    fill: black;
    text-anchor: middle;
    font-size: 18px;
}
.axis path,
.axis line{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.gridline path,
.gridline line{
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}
.trendline{
    fill: none;
    stroke: #ccc;
    stroke-width: 4px;
    stroke-dasharray: 10;
}
.area{
    opacity: 0.25;
    fill: green;
    stroke: #ccc;
    stroke-width: 1px;
}